*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: rgb(202, 181, 181);
}
.container{
    width: 40%;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shodow: 0 10px 20px  rgb(40, 40, 40);
}
img{
    height: 100%;
    width: 100%;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
    background: black;
    cursor: pointer;
}
.content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: verdana;
    text-align: center;
}


.container:hover .overlay{
    opacity: 0.8;   
    background-color: rgba(0,0,0,0.5);
}
.slider:hover img{
    transform: scale(1.3);
}
