 *
{
	padding: 0;
	margin: 0;
}
body
{
 	background-image: url("");
	background-size: cover;
	background-position: center;
	box-sizing: border-box;
	font-family: sans-serif;
}
.menu-bar
{
	background: rgb(0,100,0);
	text-align: center;
}
.menu-bar ul
{
	display: inline-flex;
	list-style: none;
	color: #fff;
}
.menu-bar ul li
{
	width: 120px;
	margin: 15px;
	padding: 15px;
}
.menu-bar ul li a
{
	text-decoration: none;
	color: #fff;
}
.active, .menu-bar ul li:hover
{
	background: #2bab0d;
	border-radius: 3px;
}
.menu-bar .fa
{
 	margin-right: 8px;
}
.sub-menu-1
{
	display: none;
}
.menu-bar ul li:hover .sub-menu-1
{
	display: block;
	position: absolute;
	background: rgb(0,100,0);
	margin-top: 15px;
	margin-left: 15px;
}
.menu-bar ul li:hover .sub-menu-1 ul
{
	display: block;
	margin: 10px;
}
.menu-bar ul li:hover .sub-menu-1 ul li
{
	width:150px;
	padding: 10px;
	border-bottom: 1px dotted #fff;
	background: trasparent;
	border-radius: 0;
	text-align: left;
}
.menu-bar ul li:hover .sub-menu-1 ul li:last-child
{
	border-bottom: none;
}
.menu-bar ul li:hover .sub-menu-1 ul li a:hover
{
	color: #b2ff00;
}
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
footer{
    background-color: #040404;
}
.footerContainer{
    width: 100%;
    padding: 70px 30px 20px ;
}
.socialIcons{
    display: flex;
    justify-content: center;
}
.socialIcons a{
    text-decoration: none;
    padding:  10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}
.socialIcons a i{
    font-size: 2em;
    color: black;
    opacity: 0,9;
}
/* Hover affect on social media icon */
.socialIcons a:hover{
    background-color: #111;
    transition: 0.5s;
}
.socialIcons a:hover i{
    color: white;
    transition: 0.5s;
}
.footerNav{
    margin: 30px 0;
}
.footerNav ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
}
.footerNav ul li a{
    color:white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;

}
.footerNav ul li a:hover{
    opacity: 1;
}
.footerBottom{
    background-color: #000;
    padding: 20px;
    text-align: center;
}
.footerBottom p{
    color: white;
}
.designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}
@media (max-width: 700px){
    .footerNav ul{
        flex-direction: column;
    } 
    .footerNav ul li{
        width:100%;
        text-align: center;
        margin: 10px;
    }
    .socialIcons a{
        padding: 8px;
        margin: 4px;
    }
}

